/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.profile-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-card {
  text-align: left;
}

.profile-card .card-img-top {
  object-fit: cover;
  height: 260px;
}

.profile-card .card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-card .profile-image-wrapper {
  width: 100%;
}

.profile-card .profile-image-wrapper .card-img {
  width: 100%;
  object-fit: contain;
  background-color: var(--global-bg-color);
}

@media (max-width: 576px) {
  .profile-card .card-img-top {
    height: 220px;
  }

  .profile-card .card-img {
    max-height: 220px;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// Project page images - reduce size to 50%
.post article figure img,
.post article .img-fluid {
  max-width: 50% !important;
  margin: 0 auto;
  display: block;
}

// TODO: redefine projects layout.
